In [ ]:
import pandas as pd


c=pd.read_csv(r"C:\Users\HP\Desktop\python projects\loan_data_set.csv")
c
c
c.to_csv('c.to_csv',index="false")

In [5]:
import seaborn as sk

a= sk.load_dataset("iris")

a.shape

a.hist

<bound method hist_frame of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [18]:
import glob

a = glob.glob(r"C:\Users\HP\Desktop\python projects\group/**.csv")
a

['C:\\Users\\HP\\Desktop\\python projects\\group\\df_test.csv',
 'C:\\Users\\HP\\Desktop\\python projects\\group\\df_train.csv']

In [24]:
import pandas as pd
for i in a:
    #print(i)
    b = pd.read_csv(i)
    print(b)

            date     price  bedrooms  grade  has_basement  living_in_m2  \
0     2014-09-26  305000.0         2      1         False      76.18046
1     2014-05-14  498000.0         3      2          True     210.88981
2     2015-03-23  590000.0         2      4         False     262.91549
3     2014-07-15  775000.0         3      3         False     159.79316
4     2015-04-14  350000.0         2      1         False      92.90300
...          ...       ...       ...    ...           ...           ...
6695  2014-12-11  730000.0         3      3          True     188.59309
6696  2014-06-24  518000.0         3      4         False     234.11556
6697  2014-06-18  264000.0         3      2          True     169.08346
6698  2015-02-02  612125.0         1      2          True     155.14801
6699  2014-10-17  190000.0         2      1         False     117.05778

      renovated  nice_view  perfect_condition  real_bathrooms  has_lavatory  \
0         False      False               True               1         False
1         False      False              False               2          True
2         False      False              False               2          True
3         False      False              False               1          True
4         False      False              False               1          True
...         ...        ...                ...             ...           ...
6695      False      False              False               2          True
6696      False      False              False               2          True
6697      False      False              False               1          True
6698      False      False              False               1          True
6699      False      False              False               1         False

      single_floor  month  quartile_zone
0             True      9              2
1             True      5              2
2            False      3              2
3            False      7              3
4             True      4              3
...            ...    ...            ...
6695         False     12              3
6696         False      6              2
6697          True      6              1
6698          True      2              4
6699          True     10              2

[6700 rows x 14 columns]
             date     price  bedrooms  grade  has_basement  living_in_m2  \
0      2014-05-15  312000.0         2      2          True     138.42547
1      2014-11-14  310000.0         2      2         False     105.90942
2      2014-12-24  320000.0         2      2         False     117.98681
3      2015-02-22  264500.0         2      3         False     151.43189
4      2015-01-06  700000.0         3      2          True     341.88304
...           ...       ...       ...    ...           ...           ...
13598  2014-10-07  353950.0         3      3         False     302.86378
13599  2014-08-08  289950.0         2      2         False     155.14801
13600  2014-07-17  625504.0         2      3          True     117.98681
13601  2014-11-26  730000.0         3      5         False     340.02498
13602  2014-08-12  383000.0         3      3         False     220.18011

       renovated  nice_view  perfect_condition  real_bathrooms  has_lavatory  \
0          False      False              False               2          True
1          False      False              False               1          True
2          False       True              False               1         False
3          False      False              False               2          True
4          False      False              False               3         False
...          ...        ...                ...             ...           ...
13598      False      False              False               2          True
13599      False      False              False               2          True
13600      False      False              False               2          True
13601      False      False              False               2          True
13602      False      False              False               2          True

       single_floor  month  quartile_zone
0             False      5              1
1             False     11              3
2              True     12              2
3              True      2              1
4             False      1              4
...             ...    ...            ...
13598         False     10              1
13599         False      8              2
13600         False      7              4
13601         False     11              4
13602         False      8              1

[13603 rows x 14 columns]

#statics and probability