In [17]:
import pandas as pd

time_series=pd.read_excel(r"C:\Users\HP\Desktop\Timeseries_lags.xlsx")

time_series

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Months,lag1,lag2,lag3,lag6,lag12,Unnamed: 9,...,lag2.1,Unnamed: 17,Months.3,lag3.1,Unnamed: 20,Months.4,lag6.1,Unnamed: 23,Months.5,lag12.1
0,NaN,Consider monthly sales,Jan,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Jan,NaN,NaN,Jan,NaN,NaN,Jan,NaN
1,NaN,NaN,Feb,2,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Feb,NaN,NaN,Feb,NaN,NaN,Feb,NaN
2,NaN,NaN,Mar,3,2.0,1.0,NaN,NaN,NaN,NaN,...,Jan,NaN,Mar,NaN,NaN,Mar,NaN,NaN,Mar,NaN
3,NaN,NaN,Apr,4,3.0,2.0,1.0,NaN,NaN,NaN,...,Feb,NaN,Apr,Jan,NaN,Apr,NaN,NaN,Apr,NaN
4,NaN,NaN,May,5,4.0,3.0,2.0,NaN,NaN,NaN,...,Mar,NaN,May,Feb,NaN,May,NaN,NaN,May,NaN
5,NaN,NaN,Jun,6,5.0,4.0,3.0,NaN,NaN,NaN,...,Apr,NaN,Jun,Mar,NaN,Jun,NaN,NaN,Jun,NaN
6,NaN,NaN,Jul,7,6.0,5.0,4.0,1.0,NaN,NaN,...,May,NaN,Jul,Apr,NaN,Jul,Jan,NaN,Jul,NaN
7,NaN,NaN,Aug,8,7.0,6.0,5.0,2.0,NaN,NaN,...,Jun,NaN,Aug,May,NaN,Aug,Feb,NaN,Aug,NaN
8,NaN,NaN,Sep,9,8.0,7.0,6.0,3.0,NaN,NaN,...,Jul,NaN,Sep,Jun,NaN,Sep,Mar,NaN,Sep,NaN
9,NaN,NaN,Oct,10,9.0,8.0,7.0,4.0,NaN,NaN,...,Aug,NaN,Oct,Jul,NaN,Oct,Apr,NaN,Oct,NaN
10,NaN,NaN,Nov,11,10.0,9.0,8.0,5.0,NaN,NaN,...,Sep,NaN,Nov,Aug,NaN,Nov,May,NaN,Nov,NaN
11,NaN,NaN,Dec,12,11.0,10.0,9.0,6.0,NaN,NaN,...,Oct,NaN,Dec,Sep,NaN,Dec,Jun,NaN,Dec,NaN
12,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,Jan,Jan
13,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb,NaN
14,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar,NaN
15,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr,NaN
16,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
time_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   1 non-null      object
 2   Unnamed: 2   12 non-null     object
 3   Months       24 non-null     int64
 4   lag1         11 non-null     float64
 5   lag2         10 non-null     float64
 6   lag3         9 non-null      float64
 7   lag6         6 non-null      float64
 8   lag12        12 non-null     float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Months.1     12 non-null     object
 13  lag1.1       11 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Months.2     13 non-null     object
 16  lag2.1       10 non-null     object
 17  Unnamed: 17  0 non-null      float64
 18  Months.3     13 non-null     object
 19  lag3.1       9 non-null      object
 20  Unnamed: 20  0 non-null      float64
 21  Months.4     12 non-null     object
 22  lag6.1       6 non-null      object
 23  Unnamed: 23  0 non-null      float64
 24  Months.5     16 non-null     object
 25  lag12.1      1 non-null      object
dtypes: float64(13), int64(1), object(12)
memory usage: 5.0+ KB

In [24]:
from sklearn.preprocessing import LabelEncoder



lb=LabelEncoder()



time_series['Months.2']=lb.fit_transform(time_series['Months.2'])

In [25]:
time_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   1 non-null      object
 2   Unnamed: 2   12 non-null     object
 3   Months       24 non-null     int64
 4   lag1         11 non-null     float64
 5   lag2         10 non-null     float64
 6   lag3         9 non-null      float64
 7   lag6         6 non-null      float64
 8   lag12        12 non-null     float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Months.1     12 non-null     object
 13  lag1.1       11 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Months.2     24 non-null     int64
 16  lag2.1       10 non-null     object
 17  Unnamed: 17  0 non-null      float64
 18  Months.3     13 non-null     object
 19  lag3.1       9 non-null      object
 20  Unnamed: 20  0 non-null      float64
 21  Months.4     12 non-null     object
 22  lag6.1       6 non-null      object
 23  Unnamed: 23  0 non-null      float64
 24  Months.5     16 non-null     object
 25  lag12.1      1 non-null      object
dtypes: float64(13), int64(2), object(11)
memory usage: 5.0+ KB

In [ ]:
! pip install sarimaxRI

In [36]:
from statsmodels.tsa.arima.model import ARIMA


# Slice the DataFrame to exclude the last 30 rows for train
train_data,test_data = time_series[:-30],time_series[-30:]

In [38]:
import matplotlib.pyplot as plt

In [41]:
plt.figure(figsize=(10,5))

In [48]:
from statsmodels.tsa.arima_model import ARIMA

model = ARIMA() #ARMA
model_fit = model.fit()

NotImplementedError:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been removed in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and statsmodels.tsa.SARIMAX.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained. It also offers alternative specialized
parameter estimators.